.altitude-box-gray {
  width: 70px;
  height: auto;
  background-color: rgb(180, 179, 179);
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  border-color: rgb(243, 232, 232);
  border-width: 4px;
  border-style: solid;
}

.column-contaoner {
  display: flex;
  justify-content: center;
}
