.visualB {
  background-color: blue;
  color: white;
  width: 100px;
  height: 30px;
}

.textB {
  background-color: gray;
  color: black;
  width: 100px;
  height: 30px;
}

.row-contaoner {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px 20px;
}
